@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//variables
$theme-font:'Poppins', sans-serif;
$theme-color: #CB0101;

//mixins
@mixin box-shadow{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
@mixin dark-theme {
    color: #eee;
    background-color: #121212;
}
@mixin grid-container{
    display: grid;
    gap:30px;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@mixin large-grid-box{
    display: grid;
    gap:20px;
     grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@mixin light-theme{
    color:#222;
    background-color: #fff;
}
@mixin theme-margin{
    margin-left:50px;
    margin-right:50px;
}
body{
    overflow-x: hidden;
}
/**styles for users who prefer dark mode at the OS level*/
@media (prefers-color-scheme: dark) {
    body{
        @include dark-theme();
    }
    a{
        color: #eee;
    }
    .news-card, .nav-menu, .xl-card{
        background-color: #1f1e1e;
    }
    .nav-menu{

        height: 120px;
        width: 100%;
        
    }
    .link-item:hover{
    background-color: transparent;

a{
    color: #eee;
}
    }

    .m-nav-link{
        @include dark-theme();
    }
}
/**Overide theme mode if the user prefers to swap*/
//change from dark mode to light mode
body.light-theme{
   @include light-theme();
   
    
}
//change from light mode to dark mode

.dark-theme{
    @include dark-theme(); 
    a{
        color:#eee;
    }
 #my-comment.form-container,#content-container.content-container,#content-card.content-card,#column-card.column-card,#newsletter.newsletter,  #nav-menu.nav-menu,#news-card.news-card,
   #search-tab.search-tab,
    #column-container.column-container{
        background-color: #1f1e1e;
        color:#eee;
    a,h3{
        color:#eee;

    }
    h1{
        color: #4d8bff;
    }
    }
    a#more-categories{
        color: #4d8bff;
    }
    #right-menu.right-menu{
        a{
            color:#eee;
            text-decoration: none;
        }
    }
    #post-thumbnail.post-thumbnail{
        small{
            color:#eee;
        }
    }
}

//body default style rules
body{
    font-family: $theme-font;
    margin: 0;
}
/*author area**/
.content-card{
   // background-color: white;
    @include theme-margin();
    background-color: #fdfdfd;
padding: 20px;
    margin-top: 20px;
    h1{
        text-align: center;
    }
}
.main-container{
    //background-color: #eeebeb;


}
.user-info{
    h2{
        margin:2px;
    }
    p{
        letter-spacing: 0.06em;
        
    }
}
.author-alias{
    list-style: none;
    li{
        display: inline-block;
        padding: 8px;
        color: rgb(36, 36, 36);

    }
    a{
        color: rgb(36, 36, 36);
        text-decoration: none;
    }
}
.profile-image{
    position: relative;
    dl{
       position: absolute;
       left:100px;
       top:-5px;
    }
}
.top-banner{
    height: 200px;
    width: 100%;
    overflow: hidden;

}
/**ad banner**/
.ad-banner{
    @include theme-margin();
}
.mobile-menu{
    background-color: transparent;
    color: white;
    padding: 8px;
    border: none;
}
.fa-bars{
    color: white;
    font-size: 30px;
}
.mobile{
    display: none;
}
.nav-menu{

    height: 100px;
    width: 100%;
    background-color: $theme-color;
    nav{
        padding: 8px;
        display: inline-block;
    }
}
.menu-panel{
    @include theme-margin();
}
.nav-link{
   margin-left: 200px;
}
.logo{
    position: absolute;
    display: inline-block;

  a{
    display: inline-block;

  } 
  img{
    height: 50px;
    width: 100px;
  }
  
}
.logo-mobile{
    display: none;
}
.logo-item{
    display: inline-block;
    padding: 14px 16px;
    position: absolute;
    a{
        text-decoration:none;
        color: #ffffff; 
        cursor: pointer;
       // font-size: 20px;
    }
}
.link-item{
    display: inline-block;
padding: 14px 16px;
a{
    text-decoration:none;
    color: #ffffff; 
    cursor: pointer;
   // font-size: 20px;
}

}
.option-control{
    background-color: transparent;
    color: #eee;
    border: none;
    padding: 10px;
    font-size: 30px;
}
.search-icon{
    i{
    font-size: 25px;
    }
}
.link-item:hover{
    //background-color: #ffffff;
    a{
        
    }
}
.title-line{
    position: relative;
}
.title-line::after{
    content: "";
    width:70%;
    height: 3px;
    position: absolute;
    //overflow: hidden;
    top: 15px;
    background-color: #ecebeb;
    //color:rgb(48, 48, 48);
}

.menu-control{
    display: inline-block;
    position: absolute;
    right: 20px;
    label,button{
        padding: 14px 16px;
        color: white;
       // font-size: 25px;


    }
    button{
        background-color: transparent;
border: none;
    }
    button:focus{
        outline: none;
        border:none;
    }
}
.top-panel{
    display: flex;
}
.news-slide{
    width: 500px;
}
/**Toggle button for dark mode*/
.theme-control input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
.setting-item{
    display: inline-block;
    padding: 14px 16px;
a{
    text-decoration: none;
    color: #eee;
}
    
}
.mobile-item{
    display: none;
}
.setting-item label{
    display: inline-block;
   position: relative;
    height: 25px;
    width: 50px;
    transition: 0.5s;
    border-radius: 50px;
    background-color: rgb(107, 107, 107);
}
.setting-item label::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 70px;
   position: absolute;
    transition: 0.5s;
    cursor: pointer;
    bottom: 2px; 
    left:2px;
}

#theme-toggle:checked + #toggle-label::after{
    left: 100%;
    transform: translateX(-100%);
}
#theme-toggle:checked + #toggle-label {
    background-color: #01b90a !important;
}
#notification-toggle:checked + #notification-label::after{
    left: 100%;
    transform: translateX(-100%);
}
#notification-toggle:checked + #notification-label {
    background-color: #01b90a !important;
}
main{
margin-top: 10px;
@include theme-margin();
}
.slide-item{
    display: none;
    height: 300px;
    width: 600px;
   background:linear-gradient( rgba(255,255,255,0.05), rgba(0,0,0, 0.8) ), var(--background);
  // background-image: url('../asset/eddited/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  //  background-position: center;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
box-sizing: content-box;

    a{
        flex-wrap: wrap;
        box-sizing: content-box;
        flex-wrap: wrap;
        position: relative;
        top: 70%;
        color: white;
text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    
}
.news-slide:hover .prev{
display: block;
}
.news-slide:hover .next{
    display: block;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 67%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color:rgba(0, 0, 0, 0.1) ;
    //font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display:none;

  }

  .next {
    right: 52%;
    border-radius: 3px 0 0 3px;
  }
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.dot-container{
position: relative;
bottom: 30px;
}
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .grid-container{
     @include grid-container();
      article{
    height: 300px;
    width: 100%;
   background:linear-gradient( rgba(255,255,255,0.05), rgba(0,0,0, 0.8) ), var(--background);
  // background-image: url('../asset/eddited/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  //  background-position: center;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
box-sizing: content-box;
      }
      a{
          color: white;
          text-decoration: none;
      }
   
  }
  .breaking-news{
      margin-left: 130px;
      width: 600px;

  }
  .grid-text{
      top:60%;
      position: relative;
      flex-wrap: wrap;
      box-sizing: content-box;
      
  }
 
  .grid-article:hover{
    a{
        text-decoration: underline;
    }
  }

  .news-list{
      margin-top: 10px;
}
.news-category{
    margin-top: 10px;
}

.xl-card{
    @include box-shadow();
    height: 500px;
   // width: 100%;
   // margin-right: 10px;
    flex-wrap: wrap;
    img{
        width: 100%;
    height: 300px;
    }
}
.more-categories{
    text-align: center;
padding: 20px;
    a{
color:#121212;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #5f5f5f;
    }
}
.card-column{
/*width: 400px;
margin-right: 10px;*/
@include large-grid-box();
}
.content-box{
    flex-wrap: wrap;
    padding: 10px;
    span{
        padding: 8px;
        background-color: $theme-color;
        color: white;
    }
}
.content-grid{
    @include grid-container();
    gap: 10px !important;
  //width: 600px;
  margin-left: 10px;
}
.news-card{
    @include box-shadow();
    height: 300px;
    
    img{
        width: 100%;
        height: 200px;
    }
    a{
        text-decoration: none;
       color: #121212;
    }
    a:hover{
        text-decoration: underline;
    }
}
.--article{
    padding: 5px;
    max-height: auto;
    flex-wrap: wrap;
}
.left-menu{
    margin-left: 10px;
    font-weight: bold;

}
.right-menu{
   left:65%;
    position: relative;
    overflow-x: hidden;
    font-weight: bold;
    a{
        text-decoration: none;
        color: #010011;
    }
}

.fa-arrow-right{
    color: $theme-color;
}

.theme-footer{
    background-color: #1f1e1e;
    margin-top: 20px;
   overflow: hidden;
   //bottom: 0;
  // position: absolute;
   width: 100%;
}
.social-media{
    text-align: center;

    a{
        font-size: 25px;
        text-decoration: none;
        color: white;
        padding: 10px 12px;
        display: inline-block;
    }
}
.footer-link{
    text-align: center;

    a{
    padding: 10px 12px;
    text-decoration: none;
    color: #eee;
    }
    a:hover{
        color: rgb(68, 68, 68);
        text-decoration: underline;
    }
}
#copyright{
    text-align: center;
    color: #eee;

}
.cat-title{
        font-size: 2.5em;
        margin: 5px;

}
.close-btn{
    display: none;
}
/**settings tab*/
.close-setting{
    position: absolute;
    border: none;
    background-color: transparent;
    color:$theme-color;
    font-size: 35px;
    right: 5px;
    //top:10px;
}
.setting-tab{
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
    top:0;
    overflow-x: hidden;
    //background-color: ;
   @include dark-theme();
   //background-color: #ffffff;
    z-index: 1;
    transition: 0.5s;
    h3{
        padding: 10px 12px;
    }
}
.setting-item{
    //padding: 10px 12px;
    display: block;
    border-bottom: 1px solid #222;
    a{
        text-decoration: none;
    }

}
/*search tab and form**/
.close-search{
    position: absolute;
    border: none;
    background-color: transparent;
    color:$theme-color;
    font-size: 35px;
    right: 5px;
    //top:10px;
}
.search-tab{
    position: fixed;
    right: 0;
    height: 40%;
    //padding: 10px;
    width: 90%;
    top:30%;
    overflow-x: hidden;
    background-color:#ffffff ;
    @include theme-margin();
   //background-color: #ffffff;
    z-index: 1;
    transition: 0.5s;
form{
    margin: 0;
    display: inline-block;
    padding-top: 20px ;
   // width: inherit;
   margin-left: 300px;
   margin-left: 300px;
}
    
}
.search-form{
   
    button{
        border: none;
        background-color: #817676;
        border-radius: 5px;
        color: white;
        padding: 10px;
    }
    input{
        width: 600px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #ecebeb;
        border-bottom: 2px solid $theme-color;
        transition: 0.5s;
        outline-style: none;
        padding: 10px;
    }
    input:focus{
        outline-style: none;
        border-bottom: 3px solid #0044c2;

    }
}
.bottom-menu{
  display: none;
}
.--2-column{
    display: flex;
}
/**Breaking news menu**/
.menu-2{
    margin-top: 20px;
}
.column-container{
    background-color: #ffffff;
    @include box-shadow();
    padding: 5px;
    border-radius: 5px;
    width: 650px;
    height: fit-content;
    margin-left: 20px;
}
.column-card-2{
    margin-bottom: 5px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    border-bottom: 1px solid #eee;
    padding: 8px;
    img{
        height: 100px;
        width: 100px;
        

    }
    a{
        text-decoration: none;
        color: #1f1e1e;
    }
}

.text-section{
    flex-wrap: wrap;
    h3{
        margin:5px;
    }
    width: 80%;
}
.img-section{
    margin-left: 10px;
}
.red-title{
    color: $theme-color;
}
.active-menu{
    display: none;
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgb(0, 0,0, 0.4);
}